body {
  background: whitesmoke;
}

.container {
  /*centers in the container*/
  text-align: center;

}

div.circTxt {
  /*allows for centering*/
  display: inline-block;
  /*adjust as needed*/
  margin-bottom: 128px;
  color: #333;
  position:relative;
  text-align: center;

  transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  -webkit-transform:rotate(7deg);
}

#shadow {
  /* font-family:tahoma; */
  width: 10px;
  /* height:100px; */
  /* background-color:yellow; */

  height:550px;
  font-size:28px;
  font-weight:bold;
  /* text-shadow:0 4px 8px #666, 0 6px 16px #999; */
}

#cursive {
  /* font-family:homemade apple, cursive; */
  width: 10px;
  height:230px;
  font-size:15px;
  font-weight:bold;
  /* background-color:yellow; */
  top:-160px;
  left:-15px;
}

#still {
  color:blue;
  font-family:tahoma;
  font-weight:bold;
  top:-150px;
  left: -300px;
}
#blue p {
  border:1px solid blue;
}

#green {
  color:lime;
  font-size:32px;
  font-weight:bold;
  text-shadow:1px 1px 0 black, -1px -1px 0 black;
  top:40px;
  left:-150px;
}

#spokes {
  top:-64px;
  left:118px;
}
#spokes p {
  border:1px solid red;
}
