body{
  margin-top: 100px;
  text-align: center;
}

#box{
  margin:auto;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: #00a1ff;

  transition: transform 2s;
  cursor: pointer;
}

#button{
  margin:auto;
  transition: transform 2s;
}
