body {
  animation: mymove 30s;
  background-color: black;
  animation-iteration-count: 1;
}

@keyframes mymove {
  from {background-color: whitesmoke;}
  to {background-color: black;}
}

#intro{
  z-index: -3;
  margin: auto;
  animation: textColor 30s;
  animation-iteration-count: 1;
}

@keyframes textColor {
  from {color: black;}
  to {color: whitesmoke;}
}


#buttonOne,#buttonTwo,#buttonThree{
  position: relative;
  z-index: 3;
}
#buttonTwo,#buttonThree{
  display: none;
}

#intro{
  font-size:28px;
  margin: 5px;
  padding:5px;
  position: absolute;
  top: 50%;
  left: 50%;
   color:white;
   /* background-color: black; */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#comment{
  display: none;
  margin-top: 70px;
  position: relative;
  text-align:center;
}
